{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^@/db/(.*)$",
    "^@/db/",
    "^@/routes/(.*)$",
    "^@/controllers/(.*)$",
    "^@/middlewares/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "singleQuote": false
}